[submodule "custom_nodes/Linguana-ComfyUI-Custom-Nodes"]
	path = custom_nodes/Linguana-ComfyUI-Custom-Nodes
	url = https://github.com/vocaloca/Linguana-ComfyUI-Custom-Nodes.git
[submodule "custom_nodes/comfyui_segment_anything"]
	path = custom_nodes/comfyui_segment_anything
	url = https://github.com/storyicon/comfyui_segment_anything.git
[submodule "custom_nodes/ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack.git
[submodule "custom_nodes/comfyui-inpaint-nodes"]
	path = custom_nodes/comfyui-inpaint-nodes
	url = https://github.com/Acly/comfyui-inpaint-nodes.git
[submodule "custom_nodes/ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials.git
[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git
